{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign In{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card  auth-card">
            <div class="card-body">
                <h4 class="card-title text-center">Log in to Wedding Gallery</h4>
        
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
        
                    {{ form|crispy }}

                    <p>Don't have an account? <a href="{% url 'register' %}">Register here!</a></p>
        
                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}